* {
    box-sizing:border-box;
}

.GameForm {
    padding: 15px;
}

.GameForm__label {
    display: block;
}

input {
    border:0;
    border-bottom:1px solid #eee;
    margin-bottom: 4px;
}

input[type=text] {
    width: 100%;
    padding:10px;
    margin:10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }